body{
   background-image: url(images.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   opacity: 70%;
    
}


section{
    border-style: solid;
    border-radius: 50px;
    border: 1px;
    background-color: white;
    width: 600px;
    height:900px ;
    margin-left: 350px;
    margin-top: 50px;
    
}

h1{
    text-align: center;
    padding-top: 20px;
    font-size: 30px ;
}


label{
 font-size: 20px;
    
}

input{
    
    margin-top: 5px;
    padding-top: 6px;
    width: 200px;
}

button{
    margin-left: 270px;
    margin-top: 50px;
    font-size: 16px;
    background-color: white;
    color: black;
    border: 1px solid black;
    width: 100px;
    height: 30px;
    cursor: pointer;
    transition-duration: 3s;
}


.div1 {
    margin-left: 218px;
    margin-top: 400px;
}

.div2 {
    margin-left: 218px;
    margin-top: 60px;
}

.div3{
    float: right;
    margin-top: 50px;
    margin-right: 90px;
}

.div4{
    float: left;
    margin-top: 50px;
    margin-left: 90px;
}

.saidaP{
    text-align: center;
    margin-top: 60px;
}


.normal{
    background: rgb(0, 255, 42);
    padding:  10px 10px;
    opacity: 90%;
}
.alerta{

    background: rgb(217, 255, 0);
    padding:  10px 10px;
    opacity: 90%;
}
.foraDoPeso{
    
    background: red;
    padding:  10px 10px;
    opacity: 90%;
}



button:hover{
background-color: gray;
transform: scale(1.2);
}

input:hover{
    border-color: rgb(92, 114, 241);
    
}

